* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: cursive;
}

body {
  background: linear-gradient(#64a6bd,#c2095a);
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
}
.box {
  background-color: #efefef;
  padding-left: 60px;
  padding: 60px;
  border: 3mm ridge #c2095a;
  border-radius: 10px;
}

.box h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 26px;
  color: #c2095a;
  font-family: cursive;
}
input {
  padding: 20px;
  user-select: none;
  height: 50px;
  width: 400px;
  border-radius: 10px;
  border: none;
  border: thick double #64a6bd;
  outline: none;
  font-size: 22px;
}
input ::placeholder {
  font-size: 26px;
}

#btnGen {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  background-color: #64a6bd;
  color: #c2095a;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
  width: 150px;
  height: 50px;
  padding-top: 3px;
  margin-left: 30%;
  border: 2mm ridge rgba(50, 67, 220, 0.6);
  border-radius: 10px;
  
}
#btnGen:hover {
  color: #64a6bd;
  background-color: #c2095a;
  transition: background-color 2s;
}
